/* Ini css */

body {
    background-color:orange /* Warna merah */
  }
  
nav {
    display: flex;
    justify-content: space-between;
}

nav>section {
    display: flex;
    align-items: center;
}
.logo-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://images.glints.com/unsafe/glints-dashboard.s3.amazonaws.com/company-logo/19b731a8e55d1291039e4f3ebba818b8.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-item {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

.banner-container-1 {
    height: 250px;
    border: 1px solid black;
}

.banner-container-2 {
    height: 150px;
    border: 1px solid black;
}

.facility-list {
    display: flex;
    justify-content: space-around;
}

.form-result {
    height: 100px;
    border: 1px solid black;
}

.message-us-section {
    display: flex;
}

.result-container {
    width: 100%;
}

.facility-list div h5 {
    text-align: center;
    font-size: 18px; 
    color: hwb(0 29% 68%);
    font-weight: bold;
}

.fasilitas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .item img:hover {
    transform: scale(1.1);
  }
  
  .item h3 {
    margin-top: 10px;
    font-size: 18px;
  }

  .item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .item img:hover {
    transform: scale(1.1);
  }
  
  .item h1 {
    margin-top: 10px;
    font-size: 18px;
  }

  .item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }

  .images {
    display: flex;
    width: 100%;
    transition: 2s;
  }

  .images img {
    width: 100%;
  }
  .wrapper {
    width: 800px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
  }

 #slide-1:target ~.images{
  margin-left: 0px;
 }

 #slide-2:target ~.images{
  margin-left: -100%;
 }

 #slide-3:target ~.images{
  margin-left: -200%;
 }

 #slide-4:target ~.images{
  margin-left: -300%;
 }

 .navigation a{
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dedede;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
  transition: 1s;
 }
 .navigation a:hover {
background-color: #666;
 }

 .navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
 }

 @media only screen and (max-width: 480px) {

  .facility-list {
    flex-direction: column;
    align-items: center;
  }
}