/* Ini css */

body {
    background-color:orange/* Warna merah */
  }


nav {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 10px 10px;
}

nav section {
    display: flex;
    align-items: center;
}
.logo-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../image/logoforte.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-icon:hover{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-item {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

.navbar-toggler {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggler div {
  width: 25px;
  height: 3px;
  background-color: grey;
  margin: 4px 0;
}

.banner-container-1 {
    height: 250px;
    border: 1px solid black;
}

.banner-container-2 {
    height: 150px;
    border: 1px solid black;
}

.facility-list {
    display: flex;
    justify-content: space-around;
}

.form-result {
    height: 100px;
    border: 1px solid black;
}

.message-us-section {
    display: flex;
}

.result-container {
    width: 100%;
}

.facility-list {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
}

.fasilitas {
    background-color:cornsilk;
    min-height: 350px;
  }
  
  
.facility-satu,
.facility-dua,
.facility-tiga{
    width: 150px;
    height: 150px;
    background-color:cornsilk;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.facility-satu{
  background-image: url(../image/drillskids.jpeg);
}

.facility-dua{
  background-image: url(../image/handshake.jpg);
}

.facility-tiga{
  background-image: url(../image/matches.jpg);
}

.facility-satu:hover,
.facility-dua:hover,
.facility-tiga:hover{
  width: 200px;
  height: 200px;
}

  .images {
    display: flex;
    width: 100%;
    transition: 2s;
  }

  .images img {
    width: 100%;
  }
  .wrapper {
    width: 800px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
  }

 #slide-1:target ~.images{
  margin-left: 0px;
 }

 #slide-2:target ~.images{
  margin-left: -100%;
 }

 #slide-3:target ~.images{
  margin-left: -200%;
 }

 #slide-4:target ~.images{
  margin-left: -300%;
 }

 .navigation a{
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dedede;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
  transition: 1s;
 }
 .navigation a:hover {
 background-color: #666;
 }

 .navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
 }

.footer{
  background-color:orange;
  padding: 1px;
  text-align: center;

}